In [20]:
import sys
sys.path.append("../")

import sqlite3
import pandas as pd



data = pd.read_csv('../networks/data/global_before_1700.csv', index_col=0)
print(len(set(data.wikidata_id)))

data_path = "/Users/charlesdedampierre/Desktop/cultura_project/cultura_20022024.db"
conn = sqlite3.connect(data_path)
df_gender = pd.read_sql("SELECT * FROM individual_gender", conn)
df_gender = df_gender.rename(columns = {'individual_wikidata_id': 'wikidata_id'})


df_final = pd.merge(data, df_gender, on = 'wikidata_id')
df_final = df_final[['wikidata_id','gender']].drop_duplicates()
len(set(df_final.wikidata_id))

13556

13547

In [21]:

df_final.gender.value_counts()

male      13404
female      144
eunuch        3
Name: gender, dtype: int64

In [13]:
data

,wikidata_id,individual_name,region_code,region_name,birthyear,meta_occupation,meta_region
0,Q316119,Gnaeus Pompeius Trogus,re_latin,Latin World,-100.0,historian,antiquity
1,Q782074,Claudianus Mamertus,re_latin,Latin World,420.0,theologian | philosopher,antiquity
2,Q182123,Irenaeus,re_latin,Latin World,130.0,theologian | philosopher,antiquity
3,Q44344,Hilary of Poitiers,re_latin,Latin World,315.0,theologian | philosopher,antiquity
4,Q1430,Marcus Aurelius,re_latin,Latin World,121.0,philosopher,antiquity
...,...,...,...,...,...,...,...
2912,Q57252424,Ahmad ibn Khalil al-Khoei,re_arabic_world,Arabic world,1187.0,theologian,non_europe
2913,Q11362,Avempace,re_arabic_world,Arabic world,1080.0,botanist | astronomer | philosopher | mathemat...,non_europe
2914,Q1243803,George Elmacin,re_arabic_world,Arabic world,1223.0,historian,non_europe
2915,Q18397639,Mūsá ibn ʻUqbah,re_arabic_world,Arabic world,674.0,historian,non_europe
2916,Q733598,Moses ben Jacob Cordovero,re_arabic_world,Arabic world,1522.0,theologian,non_europe